html{
    scroll-behavior:smooth;
}
body{
    background-color:hsl(304, 100%, 46%);     /*Fondo de la pagina*/
}

#titulo {                /*Titulo unico*/
    font-family: "segoe UI", sans-serif; /*tipo de letra*/
    font-size: 40px; /*tamañol*/
    color: hsl(300, 100%, 20%, 1); /*colorde la letra*/
    text-align: center; /*central texto*/
    text-shadow: 5px 5px 2px rgba(0,0,0,0.2); /*sonbra del texto*/
    margin-top: 20px; /*margen superiol*/
    animation: brillar 1s infinite alternate; /*animacio*/
}
@keyframes brillar { /*configuracion de la animacion*/

    from {opacity: 0.5; transform: scale(1);}
        to {opacity: 1; transform: scale(1.05);}
}
#subtitulo{
    text-shadow: 5px 6px 1px rgba(0,0,0,0.2);
    text-align: center;
    color: #ffffff;
}

nav{
    border-radius: 50px;
    border-top:  5px  double #ffffff;
    border-bottom: 5px dashed #000000;
}
li{
    display:inline;
}
a.estiloboton{
    color:#fff;
    text-decoration: none;
    background-color: #ff69b4;
    padding: 3px 5px;
    border-radius: 10px 0px 10px 0px;
    display:inline-block;
    transition: background-color 1s ease,transform 1s ease;
    margin:5px 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
a.estiloboton:hover{
    transform:scale(0.9) ;
    background-color: #800080;
}

                  /*Suptitulo varios*/
.suptitulo{
    text-align: center;        /*Centra el texto*/
    color: #ffffff;           /*Cambia el color del texto*/
}
                 /*Todo los parrafo*/
p{
    color: #fff;    /*Todos los parrafo son blanco*/
    /*text-align: center*/
}
            /*Linea hr mas gruesas y blancas*/
.linea {
    height: 5px;     /*Grosol de la linea*/
    background-color: #ffffff;      /*Color de la linea*/
    
}

figure#foto_enlace{
    margin:0;
    text-align:center;
    color:#fff;
}
figure#foto_enlace h2{
    font-size:15px;
}
figure#foto_enlace img{
    width:200px;
    height:200px;
    border-radius:60px 20px 90px 80px;
    animation: brillar 1s infinite alternate;
}

figure#fotos1{
    margin:0;
    text-align:center;
}
figure#fotos1 img{
    border-radius:10%;
    width:300px;
    height:300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#fotoytexto{
    margin:0;
    text-align:center;
}
figure#fotoytexto img{
    width:100px;
    height:100px;
    border-radius:50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#foto1{
    text-align:center;
    margin:0;
}
figure#foto1 img{
    border-radius:10%;
    width:300px;
    height:200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#foto2{
    text-align:center;
    margin:0;
}
figure#foto2 img{
    width:300px;
    height:400px;
    border-radius:10%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#fotos2{
    text-align:center;
    margin:0;
}
figure#fotos2 img{
    display:block;
    margin: 5px auto;
    width:300px;
    height:300px;
    border-radius:10%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.bordes{  /*borde arrededor de un texto*/
    border: 5px solid #ffffff;
    border-radius: 10px
}
figure#violencia{
    margin:0;
    text-align:center;
}
figure#violencia img{
    width:300px;
     height:300px;
    border-radius:10%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#violencia2{
    margin:0;
    text-align:center;
}
figure#violencia2 img{
    width:300px;
    height:300px;
    border-radius:10%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
figure#violencia3{
    margin:0;
    text-align:center;
}
figure#violencia3 img{
    width:300px;
    height:300px;
    border-radius:10%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

                      /*Novedades del programa*/
div#Novedades{
    margin:0;
}
div#Novedades img{
    display:block;
    margin:auto;
    width:300px;
    height:300px;
    border-radius:20px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
}
div#Novedades p{

}
div#Novedades p#tituloN{
    text-align:center;
    color:white;
    text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}



                       /*pies de pagina*/
footer {
    margin:10px 0 0 0;
    background-image: url("../Imagenes/pies.png"); /*fondo del pies de pagina*/
    background-size: cover; /*ase que la imagen se adate al pies de pagina*/
    background-position: center;  /*centra la imagen*/
    background-repeat: no-repeat;  /*evita que la imagen se repita*/
    text-align: center; /*centra el texto*/
    padding: 5px;  /*espancion del pies de pagina*/
    font-size: 15px; /*tamañol de la letra*/
    color: #000000; /*color de la letra*/
    border-radius: 10px 10px 30px 30px;
}
