html{
    scroll-behavior:smooth;
}
body{
background-color:hsl(304, 100%, 46%);     /*Fondo de la pagina*/
}
#titulo {                /*Titulo unico*/
 font-family: "segoe UI", sans-serif; /*tipo de letra*/
 font-size: 60px; /*tamañol*/
 color: hsl(300, 100%, 20%, 1); /*colorde la letra*/
 text-align: center; /*central texto*/
 text-shadow: 5px 5px 2px rgba(0,0,0,0.2); /*sonbra del texto*/
 margin-top: 20px; /*margen superiol*/
 animation: brillar 1s infinite alternate; /*animacio*/
}
@keyframes brillar { /*configuracion de la animacion*/

    from {opacity: 0.5; transform: scale(1);}
        to {opacity: 1; transform: scale(1.05);}
}

#subtitulo{
    font-size: 40px;
    text-shadow: 5px 6px 1px rgba(0,0,0,0.2);
    text-align: center;
    color: #ffffff;
}

nav{
    border-radius: 50px;
    border-top:  5px  double #ffffff;
    border-bottom: 5px dashed #000000;
}
li{
    display:inline;
}
a.estiloboton{
    color: #ffffff;
    font-size:30px;
    text-decoration: none;
    background-color: #ff69b4;
    padding: 3px 5px;
    border-radius: 10px 0px 10px 0px;
    display:inline-block;
    transition: background-color 1s ease,transform 0.5s ease;
    margin:5px 2px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
a.estiloboton:hover{
    transform:scale(1.3) ;
    background-color: #800080
}
ul{
    text-align: center;
}

                /*Suptitulo varios*/
.suptitulo{
    font-size:40px;
    text-align: center;        /*Centra el texto*/
    color: #ffffff;           /*Cambia el color del texto*/
}

                 /*Todo los parrafo*/
p{
    font-size:30px;
    color: #fff;    /*Todos los parrafo son blanco*/
    /*text-align: center*/
}
figure#foto_enlace{
    font-size:12px;
    float:left;
    margin-right:15px;
    margin-top:-10px;
    color:#fff;
    width:300px;
    text-align:center;
}
figure#foto_enlace h2{
    animation: brillar 1s infinite alternate;
}
@keyframes brillar {

    from {opacity: 0.5; transform: scale(1);}
        to {opacity: 1; transform: scale(1.05);}
}
figure#foto_enlace img{
    width:300px;
    height:300px;
    border-radius:60px 20px 90px 80px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
figure#foto_enlace img:hover{
    transform: scale(0.9);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0% {transform: scale(0.9) translateX(0);}
    25% {transform: scale(0.9) translateX(-5px);}
    50% {transform: scale(0.9) translateX(5px);}
    75% {transform: scale(0.9) translateX(-5px);}
    100% {transform: scale(0.9) translateX(0);}
}
figure#fotos1 img{
    width:300px;
    height:300px;
    border-radius:10%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
figure#fotos1 img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

figure#fotoytexto img{
    float:left;
    width:200px;
    height:250px;
    margin-right:15px;
    border-radius:10%;
    width:300px;
    height:280px;
    border-radius:10%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
figure#fotoytexto img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}


figure#foto1 img{
    display:block;
    margin:auto;
    width:600px;
    height:350px;
    border-radius:10%;
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

figure#foto1 img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0% {transform: scale(1.1) translateX(0);}
    25% {transform: scale(1.1) translateX(-5px);}
    50% {transform: scale(1.1) translateX(5px);}
    75% {transform: scale(1.1) translateX(-5px);}
    100% {transform: scale(1.1) translateX(0);}
}





figure#foto2 img{
    display:block;
    margin:auto;
    width:600px;
    height:600px;
    border-radius:10%;
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
}

figure#fotos2 img{
    width:300px;
    height:300px;
    border-radius:10%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
figure#fotos2 img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}




                      /*Novedades del programa*/
div#Novedades{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:#ef93ff;
    border:1px solid #d424c2;
    border-radius:5%;
    margin:10px auto;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    padding: 0 0 0 10px;
}
div#Novedades img{
    max-width:300px;
    height:auto;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    border-radius:10%;
}
div div#t{
    flex: 1;
}
div#Novedades p{
    font-size:30px;
    color:#e21478;
}
div#Novedades p#tituloN{
    text-align:center;
    font-size:50px;
    color:#ffffff;
    text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}







                        /*pies de pagina*/
footer {
    background-image: url("../Imagenes/pies.png");
    background-size: cover; /*ase que la imagen se adate al pies de pagina*/
    background-position: center;  /*centra la imagen*/
    background-repeat: no-repeat;  /*evita que la imagen se repita*/
    text-align: center; /*centra el texto*/
    padding: 8px;  /*espancion del pies de pagina*/
    font-size: 20px; /*tamañol de la letra*/
    color: #000000; /*color de la letra*/
    border-radius: 10px 10px 30px 30px;
}
